.heading-mkt {
	background-color: #2A9F90;
	color: white;
	overflow: hidden
}
.btn-mkt {
	background-color: #D9CB9E;
	color: white
}
.bs-callout {
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #eee;
}
.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout-danger {
	background-color: #fdf7f7;
	border-color: #eed3d7;
}
.bs-callout-danger h4 {
	color: #b94a48;
}
.bs-callout-warning {
	background-color: #faf8f0;
	border-color: #faebcc;
}
.bs-callout-warning h4 {
	color: #8a6d3b;
}
.bs-callout-info {
	background-color: #f4f8fa;
	border-color: #bce8f1;
}
.bs-callout-info h4 {
	color: #34789a;
}